@media (max-width: 965px) {
  .container {
    position: relative;
    width: 90%;
  }

  .icone-logo {
    height: 30px;
    width: 45px;
  }

  .logo {
    font-size: 3rem;
  }

  #search-bar {
    width: 350px;
  }

  .weather-now {
    margin-top: 75px;
    margin-bottom: 75px;
  }

  #temp {
    font-size: 8rem;
  }

  #weather-icon2 {
    height: 96px;
  }

  .temp-hour {
    overflow: auto;
  }

  .info-hour {
    position: sticky;
    left: 10px;
  }
  
  #uv-hour-graph > .uv-graph > .bar {
    width: 22px;
  }

.arrow {
  height: 30px;
}

#arrow-left {
  left: -30px;
}

#arrow-right {
  right: -30px;
}


}

@media (max-width: 610px) {
  

  body {
    overflow-x: hidden;
  }

  .container {
    height: 1260px;
  }

  .top-bar {
    box-shadow: none
  };

  article {
    margin: 0;
    padding: 10px 0;
  }

  #search-bar {
    width: 260px;
  }

  .weather-info, .weather-info-hour {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 1070px;
    margin: 0 auto;
  }

  .other, .other-hour {
    text-align: center;
    height: 350px;
  }

  .bar-graph > span, .uv-hour-graph > span {
    font-size: 1rem;
  }

  .bar {
    width: 22px;
  }

  .time-span {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #ddd;
    z-index: 2;
  }
  
  .time-span > button {
    padding: 0 20px;
  }

  .icone-logo {
    height: 20px;
    width: 30px;
  }

  .logo-container {
    margin-left: 0;
  }
  
  .logo {
    font-size: 2rem;
  }

  .temp-hour {
    height: 350px;
  }

}

  @media (max-width: 480px) {


    .bar {
      width: 18px !important;
    }

    .time-span > button {
      font-size: clamp(1rem, 4vw, 1.7rem);
    }

    .uv, .uv-hour {
      padding: 20px;
    }
  
    #temp {
      font-size: 6rem;
    }
  
    form {
      width: 80%;
    }
  
    #search-bar {
      
      width: 80vw;
    }
  
    #weather-icon2 {
      height: 72px;
    }
  
    .bar-graph > span, #uv-hour-graph > span {
      width: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    #icon-hour {
      height: 100px;
    }

    #temp-hour {
      font-size: 7rem;
    }
    
  }

@media (max-width: 390px) {
  .logo-container {
    display: none;
  }

  .weather-now, .uv, .other, .temp-hour, .uv-hour, .other-hour {
    overflow-x: auto;
  }

  form {
    left: 0;
    width: 90vw;
  }

  #search-bar { 
    width: 70%;
  }

  .bar-graph > span, #uv-hour-graph > span {
    font-size: 1.2rem;
  }

  #icon-hour {
    height: 20vw;
  }

  #temp-hour {
    font-size: 15vw;
  }
  
}