.weather-info-tomorrow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 720px;
  row-gap: 20px;
  column-gap: 40px;
}

.temp-tmr {
  position: relative;
  grid-column: 1 / 4;
  grid-row: 1;
}

.temp-graph {
  position: absolute;
  bottom: 0;
  align-items: flex-end;
  display: flex;
  margin-left: 15px;
}

.time-graph {
  width: 39px;
  cursor: pointer;
  border-left: solid 1px #ddd;
  padding-left: 3px;
}


#icon-tmr {
  height: 130px;
}

#temp-tmr {
  font-size: 8rem;
  margin-left: 20px;
}

.info-tmr {
  display: flex;
  align-items: center;
}