.weather-info-tomorrow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 720px;
  row-gap: 20px;
  column-gap: 20px;
}

.temp-tmr {
  position: relative;
  grid-column: 1 / 4;
  grid-row: 1;
}

.temp-graph {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  text-align: center;
  margin-left: 15px;
  align-items: flex-end;
}

.time-graph {
  width: 39px;
  cursor: pointer;
  border-left: solid 1px #ddd;
  padding-left: 3px;
}


#icon-tmr {
  height: 130px;
}

#temp-tmr {
  font-size: 8rem;
  margin-left: 20px;
}

.info-tmr {
  display: flex;
  align-items: center;
}

.uv-tomorrow {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5px;
}

#tmr-uv {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 10fr 1fr;
  justify-content: center;
  text-align: center;
}

#tmr-uv > span {
  grid-row: 2;
  margin-top: 10px;
}

.other-tomorrow {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem; 
  padding-left: 10px;
}

.other-tomorrow > span {
  margin-top: 30px;
  
}

.other-tomorrow > span:nth-child(1) {
  font-size: 2.2rem;
}

